{% load crispy_forms_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" href="{% static './style.css' %}" rel="stylesheet" />

    <title>Document</title>
  </head>
  <body>
    <form
      method="POST"
      action="{% url 'formulario' %}"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <fieldset>
      <legend>CONOCIMIENTO DEL CLIENTE</legend>
      <section class="encabezado">
        <h1>FORMULARIO (Persona Natural)</h1>
        <p>
          La información proporcionada en este documento será de estricta
          confidencialidad, misma que será utilizada por Generali Ecuador
          Compañía de Seguros S.A.(en adelante la “Compañía”) para la emisión de
          pólizas.
        </p>
      </section>

      <h2>DATOS DE LA RELACIÓN COMERCIAL</h2>
      <section class="relacioncomercial">
        <div class="cliente">
          <label for="cliente">{{form.cliente.label}} </label>
          {{form.cliente}}
        </div>
        <div>
          <label for="tiposeguro">{{form.tiposeguro.label}} </label>
          {{form.tiposeguro}}
        </div>
        <div>
          <label for="sumasegurada">{{form.sumasegurada.label}} </label>
          {{form.sumasegurada}}
        </div>
      </section>

      <h2>INFORMACIÓN DEL  SOLICITANTE</h2>
      <section class="relacioncomercial">
        <div>
          <label for="doc_solicit">{{form.doc_solicit.label}} </label>
          {{form.doc_solicit}}
          <label for="num_solicit">{{form.num_solicit.label}} </label>
          {{form.num_solicit}}
        </div>
        <div>
          <label for="apell_solicit">{{form.apell_solicit.label}} </label>
          {{form.apell_solicit}}
          <label for="name_solicit">{{form.name_solicit.label}} </label>
          {{form.name_solicit}}
        </div>
        
      </section>

      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
